.form_body {
  display: flex;
  justify-content: end;
  background: linear-gradient(90deg, white, black, white);
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login_form {
  background-image: url(images/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 2px black;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form input {
  box-shadow: 1px 1px 1px 2px black;
  border: none;
  width: 20vw;
  height: 3vh;
  border-radius: 12px;
  padding: 12px;
}

#loginbtn {
  width: 10vw;
  height: 7vh;
  background: local;
  color: black;
  font-weight: bold;
  box-shadow: 1px 1px 1px 2px black;
  border: none;
  border-radius: 12px;
  text-align: center;
}

@media (max-width: 768px) {
  .form_body {
    background-image: url(images/arrangement-black-friday-shopping-carts-with-copy-space_23-2148667047.avif);
    background-repeat: round;
  }
  .login_form {
    width: 100vw;
    background: none;
  }
  .login_form input {
    width: 60vw;
  }
  #loginbtn {
    width: 35vw;
  }
}

/*=========================================================*/

.main_body {
  margin: 0;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 10% auto 12%;
}

header {
  background: url(images/uhovrm1m.png);
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  grid-column-start: 1;
  grid-column-end: 3;
}

.logo_image {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 2px blue;
}

header h1 {
  font-style: italic;
  font-size: 3em;
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 1px 1px 1px 2px black;
}

/*=========================================================*/

nav {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

nav div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

nav div button {
  height: 8vh;
  width: 100%;
  font-weight: bold;
  background-color: blue;
}

nav button:hover {
  background-color: aqua;
}

#shopping_card_btn {
  background-color: black;
  color: white;
  width: 10vw;
  height: 10vh;
  border-radius: 12px;
  box-shadow: 1px 2px 3px 2px white;
}

/*=========================================================*/

main {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.catigories_main {
  gap: 30px;
  align-items: center;
  background-color: rgb(0, 191, 255);
  padding-top: 30px;
  padding-bottom: 30px;
}

.catigory_card {
  width: 65vw;
  height: 45vh;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 2px black;
  text-align: center;
  transition: 0.5s;
  padding-bottom: 5px;
}

.catigory_card:hover {
  transform: scale(1.08);
}

.catigory_card img {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  height: 35vh;
  width: 65vw;
  max-width: 65vw;
}

footer {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  color: black;
  background-color: blue;
}

/*=========================================================*/

.products_main {
  display: flex;
  flex-direction: row;
}

.products {
  width: 75%;
  height: 100% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25px;
  background-color: darkblue;
}

.product_card {
  box-shadow: 1px 1px 1px 2px black;
  border-radius: 12px;
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: inherit;
  background-color: blue;
  transition: 0.5s;
}

.product_card:hover {
  transform: scale(1.08);
}

.product_card img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  height: 100%;
  width: 40%;
}

.product_card div {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product_card div h3 {
  padding-left: 20px;
  text-align: center;
}

.product_card div p {
  padding-left: 20px;
  height: 40%;
}

.product_card div div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.product_card div div input {
  width: 3vw;
  text-align: center;
  border-radius: 8px;
  border: none;
  height: 4vh;
}

.product_card div div button {
  background-color: blue;
  width: 12vw;
  height: 8vh;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

.sides {
  height: 100%;
  width: 25%;
  background-color: aqua;
  position: relative;
}

.sides div {
  position: fixed;
  padding: 3px;
}

.sides div h3 {
  text-align: center;
  color: blue;
}

.side1 {
  width: 19.8vw;
  height: 28vh;
  background-color: darkblue;
  border-radius: 12px;
  color: white;
  overflow: hidden;
}

.side2 {
  text-align: center;
  font-weight: bold;
  background-color: darkblue;
  padding: 20px;
  color: white;
  border-radius: 12px;
}

.side1 p {
  padding: 12px;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.footer_submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_submit button {
  width: 20vw;
  height: 8vh;
  background-color: blue;
  border-radius: 12px;
  color: white;
  font-weight: bold;
}

/*=======================================================*/

.shopping_card {
  position: absolute;
  box-shadow: 1px 1px 1px 2px blue;
  width: 50%;
  height: 60vh;
  margin-top: 10%;
  margin-left: 25%;
  background-color: black;
  border-radius: 12px;
  display: none;
  flex-direction: column;
  z-index: 100;
}

.exit_btn {
  height: 5vh;
  text-align: end;
  padding: 10px 10px;
}

.exit_btn button {
  background-color: blue;
  padding: 5px;
  border-radius: 8px;
}
.shopping_card h2 {
  height: 8vh;
  margin: 0%;
  text-align: center;
  color: blue;
}

.shop_items {
  height: 40vh;
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
  padding: 15px;
}
.card_item {
  height: 18vh;
  width: 45vw;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  border-radius: 12px;
  border: 2px solid blue;
}

.card_item div {
  height: 100%;
  width: 100%;
}
.card_item > :nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card_item > :nth-child(1) div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card_item > :nth-child(2) {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: blue;
  border-radius: 12px;
  width: 3vw;
  height: 5vh;
  font-size: 1.5em;
}
